/* layout */

.header.white{		
	.tit_txt{
		color: $white;
	}

	.inp_txt{
		color: $white;
		
		&::placeholder{
			color: $white;
		}
	}

	.btn_txt{
		color: $white;
	}

	.btn_menu{

		.ico_ham{
			@include use-sprite('ico_ham_white');
			display: block;
			margin: 19px auto 0;
		}
		.ico_back{
			@include use-sprite('ico_back_white');
			display: block;
			margin: 10px;
		}
		.ico_close{
			@include use-sprite('ico_close_white');
			display: block;
			margin: 10px;
		}
	}
}
